body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}
header{
    text-align: center;
}
section{
    background: white;
    border-radius: 10px; /*Borda (quanto mais pixels mais arredondado*/
    padding: 15px; /*Espaço dentro da section*/
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(49, 49, 49); /*Em sequencia: 5px (deslocamento lateral), 5px (deslocamento vertical), 10px (espalhamento "Basicamente o quão embaçado ele fica" */
}
footer{
    text-align: center;
    font-style: italic;
}
.entrada{
	width: 55%;
	padding: 10px;
	font: normal 12pt Consolas;
	margin-bottom: 10px;
	border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.493) ;
}

input.verificar{
    padding: 3px;
    width: 90px;
    font: normal 12pt Consolas;
    border-radius: 5px;
    background-size: cover;
    margin-left: 15px;
    
}
